html {
  height: 100%;
}

body {
  min-height: 100%;
  padding: 0;
  margin: 0;
  /* background-image: linear-gradient( 89.8deg,  rgba(39,115,255,1) 4.3%, rgba(62,211,232,1) 101.4% ); */
  background: linear-gradient(88deg, rgba(74, 132, 181, 1) 4%, rgba(234, 84, 85, 1) 100%);
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}